# http://editorconfig.org
root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.json]
insert_final_newline = ignore

[**.min.js]
indent_style = ignore
insert_final_newline = ignore

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[fixtures/**/*.{edge,js}]
insert_final_newline = false

[MakeFile]
indent_style = tab
